* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cream: #f8f5f3;
    --black: #000000;
    --dark-cream: #A89C93;
}

#header {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preheader {
    background-color: var(--black);
    color: var(--cream);
    padding: 0.5%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#header-menu {
    padding: 0.5%;
    border-bottom: 1px solid var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
}

.sections {
    padding: 5%;
}

#main-claim {
    display: flex;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 85px;
}

.button-a {
    padding: 1.5% 3%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

#main-claim {
    background-color: var(--cream);
    padding: 5% 5% 0 5%;
}

#main-claim-images {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

#mc-image-01 {
    transform: scale(25%);
}

.main-claim-image {
    width: 360px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#section-principles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.principle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 12px;
}

.principle-main-title {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.principle-h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-transform: capitalize;
    /* font-variant: small-caps; */
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 12px; 
    text-align: left;
    line-height: 18px;
}

.principle-p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px; 
    text-align: center;
    line-height: 18px;
}

#new-arrivals {
    display: flex;
    align-items: center;
    gap: 50px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-transform: capitalize;
    /* font-variant: small-caps; */
    text-align: left;
}

#na-section-title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 25%;
}

#new-arrivals-products{
    display: flex;
    gap: 25px;
    max-width: 75%;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px; 
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    color: var(--black);
}

.product-image {
    width: 100%;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info p {
    font-weight: 400;
}

#products-filter {
    display: flex;
    gap: 25px;
    padding-left: 0;
}

#filter-menu {
    background-color: var(--cream);
    padding: 50px;
    /* width: 1000px; */
    min-width: 500px;
    height: 100%;
}

.filter-menu-element {
    margin: 30px 0;
}

.filter-button{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px; 
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    color: var(--black);
    border-style: none;
    background-color: transparent;
}

.filter-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    text-align: left;
    line-height: 18px;
    text-transform: uppercase;
    text-indent: 10px;
    margin: 10px 0;
    letter-spacing: 0.75px;
}

.filter-element {
    list-style: none;
}

.filter-element button {
    color: var(--dark-cream);
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: none;
    margin: 10px 0;
}

#price-filter input {
    color: var(--dark-cream);
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: transparent;
    margin: 10px 50px 10px 0;
    width: 20%;
}

#price-input ::after {
    content: "€";
}

#price-input:focus {
    border: solid 0px var(--dark-cream);
    background-color: var(--cream);
}

#filter-products {
display: grid;
grid-template-columns: repeat(4 , 1fr);
gap: 50px;
}

.category {
    text-align: center;
}

.price {
    text-align: right;
}