* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection{
	background: #E7FF0F;
	color: black;
}


:root {
    --cream: #f8f5f3;
    --black: #000000;
    --dark-cream: #A89C93;
    --lime: #E7FF0F;
    --transition-time: .3s;
}

#header {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preheader {
    background-color: var(--black);
    color: var(--cream);
    padding: 0.5%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#header-menu {
    padding: 1%;
    border-bottom: 1px solid var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
}

.sections {
    padding: 5%;
}

#main-claim {
    display: flex;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 85px;
}

.button-a {
    padding: 1.5% 3%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 300px;
    transition: var(--transition-time);
}
.button-a:hover{
    cursor: pointer;
    background-color: var(--lime);
    border: 1px solid black;
    color: black;
    
}

#main-claim-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
}
#main-claim {
    background-color: var(--cream);
    padding: 5% 5% 0 5%;
}

.main-claim-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#main-claim-images {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

#mc-image-01 {
    width: 200px;
}

.main-claim-image {
    width: 360px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

#section-principles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.principle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 12px;
}

.principle-main-title {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.principle-h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-transform: capitalize;
    /* font-variant: small-caps; */
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px; 
    text-align: left;
    line-height: 18px;
}

.principle-p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px; 
    text-align: center;
    line-height: 18px;
}

#new-arrivals {
    display: flex;
    align-items: center;
    gap: 50px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-transform: capitalize;
    /* font-variant: small-caps; */
    text-align: left;
}

#na-section-title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 25%;
}

#new-arrivals-products{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    max-width: 75%;

}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px; 
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    color: var(--black);
}

.product{
    width: 250px;
    height: 300px;
    position: relative;
}

.product:hover{
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.mascara{
    width: 100%;
    height: 0px;
    background-color: var(--lime);
    transition: .5s cubic-bezier(0,.17,0,1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 300;
    mix-blend-mode: color;
}

.product:hover .mascara{
    height: 300px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info p {
    font-weight: 400;
}

#products-filter {
    display: flex;
    gap: 25px;
    padding-left: 0;
    padding-right: 100px;
}

#select-category{
    background-color: transparent;
    border: 1px solid black;
    padding: .8em;
}

#filter-menu {
    background-color: var(--cream);
    padding: 5%;
    /* width: 1000px; */
    min-width: 420px;
    height: 100%;
}

.filter-menu-element {
    margin: 30px 0;
}

.filter-button{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px; 
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    color: var(--black);
    border-style: none;
    background-color: transparent;
    padding: 2%;
    transition: var(--transition-time);
}

.filter-button:hover{
    cursor: pointer;
    transform: translateY(-8px);
    
}

.filter-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    text-align: left;
    line-height: 18px;
    text-transform: uppercase;
    text-indent: 10px;
    margin: 10px 0;
    letter-spacing: 0.75px;
}

.filter-element {
    list-style: none;
    background-color: transparent;
    border: 1px solid black;
}

.filter-element button {
    color: var(--dark-cream);
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: none;
    margin: 10px 0;
}

#price-filter input {
    color: var(--dark-cream);
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: transparent;
    margin: 10px 50px 10px 0;
    width: 30%;
}

#price-input ::after {
    content: "€";
}

#price-input:focus {
    border: solid 0px var(--dark-cream);
    background-color: var(--cream);
}

#filter-products {
display: grid;
grid-template-columns: repeat(4 , 1fr);
gap: 50px;
}

.category {
    text-align: center;
}

.price {
    text-align: right;
}

#text-n-images {
    background-color: var(--cream);

}

#text-n-images > p {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-style: italic;
    text-transform: capitalize;
    line-height: 150px;
    text-align: center;
}

.p-span {
    display:inline-block;
    width: 250px;
    border-radius: 100px;
    margin-bottom: -50px;
}
.p-span img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 150px;
    transition: 1s cubic-bezier(.81,0,.16,.98);
} 
.p-span img:hover{
    transform: rotate(-10deg);
}

footer {
    background-color: var(--black);
    padding: 5%;
}

#footer-claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    color: var(--cream);
}

#footer-claim button {
    padding: 1.5% 3%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--cream);
    color: var(--cream);
}
#footer-claim button:hover{
    cursor: pointer;
    background-color: var(--lime);
    border: 1px solid white;
    color: black;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    padding: 40px 0;
    border-top: solid 1px var(--dark-cream);
    border-bottom: solid 1px var(--dark-cream);
}

#subscribe-group {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* margin: 0 50px 40px 0; */
    border-right: solid 0.5px var(--dark-cream);
    padding-right: 40px;
}

#privacy-confirmation {
    display: flex;
    justify-content: left;
    align-items: first baseline;
    gap: 10px;
    margin: 10px 0;
}

#privacy-confirmation  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    text-align: left;
    line-height: 18px;
    /* text-transform: uppercase; */
    /* margin: 15px 0; */
    letter-spacing: 0.75px;
    color: var(--dark-cream);
}

#subscribe-group > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    text-align: left;
    line-height: 18px;
    text-transform: uppercase;
    margin: 15px 0;
    letter-spacing: 0.75px;
    color: var(--dark-cream);
}

.subscribe > input{
    background-color: transparent;
    border: 1px solid var(--dark-cream);
    color: var(--dark-cream);
    padding: 2%;
}

.subscribe-button{
    font-family: 'Inter', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: underline;
  color: var(--dark-cream);
  border-style: none;
  background-color: transparent;
  padding: 2%;
  transition: .5s;
}

.subscribe-button:hover{
    cursor: pointer;
    transform: translateY(-8px);
}

.link-element-footer:hover{
    cursor: pointer;
    color: var(--lime);
}

#footer-end{
    padding-top: 10px;
}

.moona img{
    width: 15%;
    padding: 0 1.2%;
}

.li-element-footer {
    list-style: none;
    display: inline-block;
    margin: 20px 0 20px 20px;
    transition: var();
}
#link-list{
    display: flex;
    justify-content: space-between;
}
#links-group{
    width: 55%;
}

.link-element-footer {
    color: var(--cream);
}

#footer-end {
    color: var(--cream);
    display: flex;
    justify-content: space-between;
}

#privacy-terms {
    display: flex;
    flex-direction: row;

}

#privacy-terms a:hover{
    cursor: pointer;
    color: var(--lime);
}

#privacy-terms a {
    color: var(--cream);
    display: flex;
    /* gap: 20px; */
    margin-left: 20px;
}


/* 
Aquí empiezan las media queries 
*/

@media screen and (max-width:1600px){
    #filter-products{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 50px;
    }
}


@media screen and (max-width:950px){
    
    .sections{
        padding: 4%;
    }



    #main-claim{
        flex-direction: column;

    }
    #main-claim-texts{
        justify-content: center;
        align-items: center;
    }
    #main-claim-texts h1{
        font-size: 70px;
        text-align: center;
        margin-bottom: 2rem;
    }
    #main-claim-images{
        justify-content: center;
    }
    .button-a{
        font-size: 12px;
    }



    .principle-h3{
        font-size: 25px;
    }



    #new-arrivals-products{
        flex-wrap: wrap;
        gap: 20px;
    }



    /* Products */
    #products-filter{
        flex-direction: column;
        padding-right: 0;
    }
    #filter-menu{
        width: 100%;
        margin: 0;
        padding: 4%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

    }
    #price-filter input{
        margin: 5px;
    }

    #filter-products{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 50px;
    }
    .product{
        width: 230px;
        height: 280px;
    }
    .product:hover .mascara{
        height: 280px;
    }


    #text-n-images > p{
        font-size: 45px;
        line-height: 80px;
    }
    .p-span img{
        height: 90px;
    }



    #footer-claim h3{
        font-size: 30px;
    }
    .link-element-footer{
        font-size: 12px;
    }

    .li-element-footer{
        margin-bottom: 0.3px;
    }

    #link-list{
        flex-direction: column;
    }
    #subscribe-group{
        width: 90%;
    }
    
}

/* Movil */

@media screen and (max-width:480px){


    #main-claim-texts h1{
        font-size: 50px;
        text-align: center;
        margin-bottom: 2rem;
        line-height: 50px;
    }
    #mc-image-01{
        width: 150px;
        margin-right: -50px;
        z-index: 300;
    }
    .main-claim-image{
        width: 80%;
    }



    #section-principles{
        flex-direction: column;
        padding: 5%;
    }
    .principle-h3{
        font-size: 30px;
    }




    #new-arrivals{
        flex-direction: column;
    }
    #na-section-title{
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    #na-section-title p {
        text-align: center;
    }




    #filter-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}